<div class="page two bg-light">
    <div class="contain-grid-banos">
        <div class="contain-gallery-banos">
            <div class="main-card">
                <ul class="cards">
                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image">
                                <img src="src/images/plano1.png" alt="plano1" />
                                <!-- <span class="card_price"><span>$</span>9</span> -->
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">Modelo Basic</h2>
                                <div class="card_text">
                                    <h3 class="dimension-bano-silver">Dimensiones</h3>
                                    <p>
                                        Dig into the freshest veggies of the season! This salad-in-a-jar features a
                                        mixture of leafy greens and seasonal vegetables, fresh from the farmer's market.
                                    </p>
                                    <hr />
                                    <p>
                                        Served with your choice of dressing on the side: <strong>housemade ranch</strong
                                        >, <strong>cherry balsamic vinaigrette</strong>, <strong>creamy chipotle</strong
                                        >, <strong>avocado green goddess</strong>, or <strong>honey mustard</strong>.
                                        Add your choice of protein for $2 more.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image">
                                <img src="src/images/plano2.png" alt="a Reuben sandwich on wax paper." />
                                <!-- <span class="card_price"><span>$</span>18</span> -->
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">Modelo Silver</h2>
                                <div class="card_text">
                                    <p>
                                        All great meals take time, but this one takes it to the next level! More than
                                        650 hours of fermenting, brining, aging, and curing goes into each and every one
                                        of our legendary Reuben sandwiches.
                                    </p>
                                    <p>
                                        Every element of this extraordinary sandwich is handcrafted in our kitchens,
                                        from the rye bread baked from our secret recipe to the cave-aged Swiss cheese,
                                        right down to the pickle. The only thing we didn't make on the premises is the
                                        toothpick ( but we're looking into how to do that).
                                    </p>
                                    <hr />
                                    <p>
                                        This unforgettable sandwich has all of the classic Reuben elements: <strong
                                            >corned beef</strong
                                        >, <strong>rye bread</strong>, <strong>creamy Russian dressing</strong>, <strong
                                            >sauerkraut</strong
                                        >, plus a <strong>sweet gherkin pickle</strong>. No substitions please!
                                    </p>
                                    <p>
                                        Add a side of <strong>french fries</strong> or <strong
                                            >sweet potato fries</strong
                                        > for $2 more, or our
                                        <strong>housemade pub chips</strong> for $1.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image">
                                <!-- <span class="note">Seasonal</span> -->
                                <img src="src/images/plano3.png" alt="A side view of a plate of figs and berries." />
                                <!-- <span class="card_price"><span>$</span>16</span> -->
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">Modelo Golden</h2>
                                <div class="card_text">
                                    <p>
                                        A succulent sextet of fresh figs join with a selection of bodacious seasonal
                                        berries in this refreshing, shareable dessert.
                                    </p>
                                    <hr />
                                    <p>
                                        Choose your drizzle: <strong>cherry-balsamic vinegar</strong>, <strong
                                            >local honey</strong
                                        >, or
                                        <strong>housemade chocolate sauce</strong>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image">
                                <!-- <span class="note">Seasonal</span> -->
                                <img src="src/images/plano4.png" alt="A side view of a plate of figs and berries." />
                                <!-- <span class="card_price"><span>$</span>16</span> -->
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">Modelo</h2>
                                <div class="card_text">
                                    <p>
                                        A succulent sextet of fresh figs join with a selection of bodacious seasonal
                                        berries in this refreshing, shareable dessert.
                                    </p>
                                    <hr />
                                    <p>
                                        Choose your drizzle: <strong>cherry-balsamic vinegar</strong>, <strong
                                            >local honey</strong
                                        >, or
                                        <strong>housemade chocolate sauce</strong>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-position-grid-banos">
            <div class="title-sub-align-banos">
                <div class="appear">
                    <h1 class="end">Karawan</h1>
                </div>
                <div class="appear2">
                    <h2 class="pad-right">Baños De Lujo</h2>
                </div>
                <div class="appear2 mt-5">
                    <p class="text-banos pad-right">
                        Para todo tipo de eventos. Privacidad, elegancia y amplios espacio poseen nuestros baños de
                        lujo. Asesoría personalizada con más de 15 años de experiencia entregando soluciones y
                        alternativas a nuestros clientes para que reciban a sus invitados o clientes con el mejor
                        servicio.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divider shadow-lg"></div>
<div id="section-outdoor"></div>
<div class="page three bg-light">
    <div class="contain-grid-outdoor">
        <div class="contain-gallery-outdoor">
            <div class="main-card">
                <ul class="cards">
                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image">
                                <img
                                    src="https://assets.codepen.io/652/photo-1468777675496-5782faaea55b.jpeg"
                                    alt="mixed vegetable salad in a mason jar."
                                />
                                <span class="card_price"><span>$</span>9</span>
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">Farmstand Salad</h2>
                                <div class="card_text">
                                    <p>
                                        Dig into the freshest veggies of the season! This salad-in-a-jar features a
                                        mixture of leafy greens and seasonal vegetables, fresh from the farmer's market.
                                    </p>
                                    <hr />
                                    <p>
                                        Served with your choice of dressing on the side: <strong>housemade ranch</strong
                                        >, <strong>cherry balsamic vinaigrette</strong>, <strong>creamy chipotle</strong
                                        >, <strong>avocado green goddess</strong>, or <strong>honey mustard</strong>.
                                        Add your choice of protein for $2 more.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image">
                                <img
                                    src="https://assets.codepen.io/652/photo-1520174691701-bc555a3404ca.jpeg"
                                    alt="a Reuben sandwich on wax paper."
                                />
                                <span class="card_price"><span>$</span>18</span>
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">Ultimate Reuben</h2>
                                <div class="card_text">
                                    <p>
                                        All great meals take time, but this one takes it to the next level! More than
                                        650 hours of fermenting, brining, aging, and curing goes into each and every one
                                        of our legendary Reuben sandwiches.
                                    </p>
                                    <p>
                                        Every element of this extraordinary sandwich is handcrafted in our kitchens,
                                        from the rye bread baked from our secret recipe to the cave-aged Swiss cheese,
                                        right down to the pickle. The only thing we didn't make on the premises is the
                                        toothpick ( but we're looking into how to do that).
                                    </p>
                                    <hr />
                                    <p>
                                        This unforgettable sandwich has all of the classic Reuben elements: <strong
                                            >corned beef</strong
                                        >, <strong>rye bread</strong>, <strong>creamy Russian dressing</strong>, <strong
                                            >sauerkraut</strong
                                        >, plus a <strong>sweet gherkin pickle</strong>. No substitions please!
                                    </p>
                                    <p>
                                        Add a side of <strong>french fries</strong> or <strong
                                            >sweet potato fries</strong
                                        > for $2 more, or our
                                        <strong>housemade pub chips</strong> for $1.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image">
                                <span class="note">Seasonal</span>
                                <img
                                    src="https://assets.codepen.io/652/photo-1544510808-91bcbee1df55.jpeg"
                                    alt="A side view of a plate of figs and berries."
                                />
                                <span class="card_price"><span>$</span>16</span>
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">Fig &amp; Berry Plate</h2>
                                <div class="card_text">
                                    <p>
                                        A succulent sextet of fresh figs join with a selection of bodacious seasonal
                                        berries in this refreshing, shareable dessert.
                                    </p>
                                    <hr />
                                    <p>
                                        Choose your drizzle: <strong>cherry-balsamic vinegar</strong>, <strong
                                            >local honey</strong
                                        >, or
                                        <strong>housemade chocolate sauce</strong>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-position-grid-outdoor">
            <div class="title-sub-align-outdoor">
                <div class="appear2">
                    <h1 class="reveal__content">Karawan</h1>
                </div>
                <div class="appear2">
                    <h2 class="reveal__content pad-right">Outdoor</h2>
                </div>
                <div class="appear2 mt-5">
                    <p class="text-outdoor pad-right">
                        Nace una nueva aventura para viajar, disfrutar al aire libre ¡donde quieras y cuando quieras!
                        Traza una nueva ruta con experiencias inolvidables junto a KARAWAN OUTDOOR
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    :root {
        --fuentetitulos: "Raleway", sans-serif;
        --fuenteparrafos: "Nunito Sans", sans-serif;
        --fuenteextra: "Century Gothic", sans-serif;
        --color1: #393646;
        --color2: #4f4557;
        --color3: #6d5d6e;
        --color4: #f4eee0;
        --color5: #c4dfdf;
        --color6: #ddffbb;
        --colorletras: #212529;
    }
    /* appear */
    .appear {
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    .appear.inview {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.1s;
    }

    .appear2 {
        -webkit-transition: all 1.5s;
        transition: all 1.5s;
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    .appear2.inview2 {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    .appear2.inview2:nth-child(1) {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    .appear2.inview2:nth-child(2) {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    .appear2.inview2:nth-child(3) {
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    .appear2.inview2:nth-child(4) {
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    .appear2.inview2:nth-child(5) {
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

    .appear3 {
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    .appear3.inview3 {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    /* fin appear */
    .contain-grid-banos,
    .contain-grid-outdoor {
        width: 100%;
        height: 800px;
        display: grid;
        grid-template-columns: 60% 30%;
        justify-content: center;
        align-items: center;
        padding: 10rem;
    }

    .contain-gallery-banos,
    .contain-gallery-outdoor {
        grid-column: 1 / 2;
        grid-template-columns: 100%;
        display: grid;
    }

    .text-position-grid-banos,
    .text-position-grid-outdoor {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        height: 560px;
    }

    .title-sub-align-banos,
    .title-sub-align-outdoor {
        margin-bottom: 5rem;
        text-align: end;
        width: 485px;
    }

    .text-banos,
    .text-outdoor {
        font-family: var(--fuentetitulos);
        font-size: 2.4rem;
        text-align: justify;
        max-width: 485px;
    }

    .one,
    .two,
    .three {
        height: 100vh;
    }

    /* .two {
        background-image: url(imagenes/elemento2.png);
        justify-content: center;
    }

    .three {
        background-image: url(imagenes/elemento3.png);
    } */
    .container-gall {
        display: flex;
        width: 100%;
        padding: 3rem;
        box-sizing: border-box;
        height: 560px;
    }

    .main-card {
        max-width: 1200px;
        margin: 0 auto;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .cards_item {
        display: flex;
        padding: 1rem;
    }

    .card_image {
        position: relative;
        max-height: 250px;
    }

    .card_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card_price {
        position: absolute;
        bottom: 8px;
        right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 0.25rem;
        background-color: var(--colorletras);
        font-size: 18px;
        font-weight: 700;
    }

    .card_price span {
        font-size: 12px;
        margin-top: -2px;
    }

    .note {
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 4px 8px;
        border-radius: 0.25rem;
        background-color: #c89b3f;
        font-size: 14px;
        font-weight: 700;
    }

    @media (min-width: 40rem) {
        .cards_item {
            width: 50%;
        }
    }

    @media (min-width: 56rem) {
        .cards_item {
            width: 33.3333%;
        }
    }

    .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .card_content {
        position: relative;
        padding: 16px 12px 32px 24px;
        margin: 16px 8px 8px 0;
        max-height: 165px;
        overflow-y: scroll;
    }

    .card_content::-webkit-scrollbar {
        width: 8px;
    }

    .card_content::-webkit-scrollbar-track {
        box-shadow: 0;
        border-radius: 0;
    }

    .card_content::-webkit-scrollbar-thumb {
        background: var(--colorletras);
        border-radius: 15px;
    }

    .card_title {
        position: relative;
        margin: 0 0 24px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }

    .card_title::after {
        position: absolute;
        display: block;
        width: 50px;
        height: 2px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--colorletras);
        content: "";
    }

    hr {
        margin: 24px auto;
        width: 50px;
        border-top: 2px solid #c89b3f;
    }

    .card_text p {
        margin: 0 0 24px;
        font-size: 14px;
        line-height: 1.5;
    }

    .card_text p:last-child {
        margin: 0;
    }
</style>
