<header class="page one bg-light">
    <!-- <div class="contain-img-head">
        <div class="box-img">
            <img class="img1 rounded shadow" src="imagenes/header1.png" height="100%" />

            <img class="img2 rounded shadow" src="imagenes/header2.png" height="100%" />

            <div class="position-img3">
                <img class="img3 rounded shadow" src="imagenes/header3.jpg" style="filter: brightness(0.8) " />
            </div>
        </div>
    </div> -->
    <div class="contain-header">
        <header class="header">
            <div class="cent-bx-title-header">
                <div class="contain-text-title-header rounded">
                    <div class="position-header fadeInUp">
                        <h1 class="title-header element1">Karawan</h1>
                    </div>
                    <div class="heightsub1 fadeInUp">
                        <p class="text-header element2">
                            Ideas originadas por emprendedores, a partir de las necesidades requeridas por ustedes,
                            ofrecemos un servicio enfocado en lujo, comodidad y calidad. Contando actualmente con
                            <span class="bold">Baños de Lujo</span> y <span class="bold">Karawan Outdoor</span>
                        </p>
                    </div>
                </div>
            </div>
        </header>
    </div>
</header>

<style>
    .contain-header {
        width: 100%;
        height: 100vh;
    }
    .heightsub1 {
        height: 220px;
        width: 730px;
    }
    .one {
        /* background-image: url(../imagenes/elemento1.png); */
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;

        width: 100%;
    }
    .box-img {
        width: 700px;
        height: 600px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        overflow: hidden;
        opacity: 0.9;
    }
    .contain-img-head {
        width: 100%;
        height: 100vh;
        justify-content: flex-end;
        /* z-index: 9999; */
        align-items: center;
        display: flex;
        padding: 20rem;
        position: absolute;
    }

    .img1 {
        height: 500px;
        /* position: relative; */
        /* background-size: cover; */
        width: 340px;
    }

    .img2 {
        width: 340px;
        height: 290px;
        object-fit: cover;
    }

    .position-img3 {
        width: 470px;

        position: relative;
        height: 290px;
        left: 22rem;
    }

    .cent-bx-title-header {
        height: 100vh;

        align-items: center;
        justify-content: center;
        display: flex;
    }

    .contain-text-title-header {
        min-width: 800px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .title-header {
        font-family: var(--fuenteextra);
        font-size: 15rem !important;
        margin: 0;
        font-weight: 900;
        /* text-shadow: 20px 21px 0px rgba(0, 0, 0, 0.18); */
        color: var(--colorletras);
        text-transform: uppercase;
    }

    .text-header {
        text-align: center;
        font-size: 2.5rem;
        color: var(--colorletras);
        font-weight: 300;
    }

    .next-explore {
        font-size: 5rem;
        font-weight: 100;
        margin: 0;
        color: var(--color4);
    }
</style>
